.center{
  font-size: 40px;
  font: outline;
  font-weight: 300;
  text-align: center;
}

.design{
font: outline;
font-size: 40px;  
font-weight: 300;
color: #000000;
text-align: center;  
}

.images-parent{
  text-align: center;
}

// ion-card{
//     --ion-background-color: #ffffff;
// }

//   ion-content{
//     --ion-background-color:linear-gradient(#4786ef, #f4f5f8);
//     //linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6278886554621849) 35%, rgba(0,212,255,1) 100%);
// }

// ion-content{
//   --background: url(../../assets/images/instructions.jpg) 0 0/100% 100% no-repeat;
// }

:host {
ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }
}

.paz {
position: relative;
z-index: 10;
}

